*{
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

#title{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("image1.webp");
  margin: 20px 0 20px 0;
  padding: 5px;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 7px;
}

#brushes{
  background-color: mediumspringgreen;
}

#frames{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}

figure{
  margin: 5px;
}

strong{
  font-weight: bold;
  color: blue;
}
