*{
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

#title{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("image1.webp");
  margin: 60px 2px 60px 2px;
  padding: 5px;
}

h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 10px 2px;
}

#brushes{
  background-color: mediumspringgreen;
}

#frames{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}

figure{
  margin: 10px 0px;
}

figcaption{
  margin: 10px 0px;
}

strong{
  font-weight: bold;
  color: blue;
  font-family: Helvetica;
}
